.top
  background url('/images/growler.jpg')
  background-size cover
  background-position center
  height calc(100vh - 86px)
  min-height 600px
  text-align center
  text-transform uppercase
  position relative

  > .logo
    w = 389
    h = 240
    width unit(w/3, px)
    height unit(h/3, px)
    background url('/images/logo.png')
    background-size cover

    animation inFromLeft 0.2s ease-in-out 0.5s both
    position absolute
    top 20px
    left 30px

  > .socials
    position absolute
    top 45px
    right 30px
    > .social
      margin 0 0 0 5px
      float left
      width 20px
      height 20px
      padding 5px
      border-radius 4px
      transition background-color 0.1s linear 0.2s
      &:hover
        background-color gc(goldlight)
        transition background-color 0.1s linear
      animation inFromRight 0.2s ease-in-out 0.4s both
      &:nth-child(2)
        animation-delay 0.5s
      &:nth-child(3)
        animation-delay 0.6s
      > svg
       path
        fill gc(white1)

  > .menu
    gf(h4)
    margin 50px 0 0 0
    color gc(grey15)
    > .item, > .dot
      display inline-block
    > .item
      padding 0 10px
      animation inFromTop 0.2s linear both
      for i in 1..7
        &:nth-child({i})
          animation-delay unit(0.05*i, 's')
    > .dot
      margin 0 0 5px 0
      padding 0
      width 5px
      height 5px
      background-color gc(white1)
      border-radius 50%

  > .soon
    gf(h4)
    margin-top 40vh
    color gc(grey15)

  > .doors
    gf(h1)
    margin 30px 0 0 0 
    color gc(grey15)

  > .cta
    gf(h5)
    margin 30px 0 0 0
    background-color gc(goldlight)
    color gc(grey90)
    display inline-block
    padding 30px 80px
    transition color 0.2s linear 0.2s
    &:hover
      color gc(white1)
      transition color 0.2s linear 0s

.info
  padding 30px 0
  text-align center
  > .label, > .copy, > .anvil, > .dot
    display inline-block

  > .label
    color gc(grey30)
    text-transform uppercase
    gf(h5)
    padding 0 10px 0 0
  > .copy
    color gc(grey15)
    transition color 0.1s linear
  > a.copy:hover
    color gc(goldlight)


  > .dot
    width 5px
    height 5px
    background-color gc(grey70)
    border-radius 50%
    margin 0 10px 4px 10px

  > .anvil
    background url('/images/hammer.png')
    background-size contain
    width 40px
    height 40px
    margin -10px 20px
