 .lochours
  > .section
    float left
    width 50%
    > .title
      gf(h4)
      text-transform uppercase
      color gc(grey30)
      padding 50px 0 20px 0
    > .copy
      color gc(white1)
      > .right
        float right

.socials
  > .social
    transition background-color 0.1s linear 0.2s
    &:hover
      background-color gc(goldlight)
      transition background-color 0.1s linear
    animation inFromRight 0.2s ease-in-out 0.4s both
    &:nth-child(2)
      animation-delay 0.5s
    &:nth-child(3)
      animation-delay 0.6s
    > svg
      width inherit
      height inherit
      path, circle
        fill gc(white1)

.top
  background url('/images/growler.jpg')
  background-size cover
  background-position center
  height calc(100vh - 86px)
  min-height 600px
  text-align center
  text-transform uppercase
  position relative

  > .logo
    w = 389
    h = 240
    width unit(w/3, px)
    height unit(h/3, px)
    background url('/images/logo.png')
    background-size cover

    animation inFromLeft 0.2s ease-in-out 0.5s both
    position absolute
    top 20px
    left 30px

  > .socials
    position absolute
    top 45px
    right 30px
    > .social
      margin 0 0 0 5px
      float left
      width 20px
      height 20px
      padding 5px
      border-radius 4px

  > .menu
    gf(h4)
    margin 50px 0 0 0
    color gc(grey15)
    > .item, > .dot
      display inline-block
    > .item
      padding 0 10px
      animation inFromTop 0.2s linear both
      for i in 1..7
        &:nth-child({i})
          animation-delay unit(0.05*i, 's')
    > .dot
      margin 0 0 5px 0
      padding 0
      width 5px
      height 5px
      background-color gc(white1)
      border-radius 50%

  > .soon
    gf(h4)
    margin-top 40vh
    color gc(grey15)

  > .doors
    gf(h1)
    margin 30px 0 0 0 
    color gc(grey15)

  > .cta
    gf(h5)
    margin 30px 0 0 0
    background-color gc(goldlight)
    color gc(grey90)
    display inline-block
    padding 30px 80px
    transition color 0.2s linear 0.2s
    &:hover
      color gc(white1)
      transition color 0.2s linear 0s

.infobar
  padding 30px 0
  text-align center
  > .label, > .copy, > .anvil, > .dot
    display inline-block

  > .label
    color gc(grey30)
    text-transform uppercase
    gf(h5)
    padding 0 10px 0 0
  > .copy
    color gc(grey15)
    transition color 0.1s linear
  > a.copy:hover
    color gc(goldlight)

  > .dot
    width 5px
    height 5px
    background-color gc(grey70)
    border-radius 50%
    margin 0 10px 4px 10px

  > .anvil
    background url('/images/hammer.png')
    background-size contain
    width 40px
    height 40px
    margin -10px 20px

.info
  text-align left
  max-width 1400px
  margin auto
  > .right
    float right
    width 50%
    background url('/images/berkeleymap.jpg')
    background-size cover
    background-position 100%
    height 800px
    > .inner
      padding 200px 80px

      > .title
        gf(h1)
        color gc(white1)
        text-transform uppercase

      > .copy
        margin 50px 0 0 0
        color gc(white1)


       > .copy
        color gc(white1)
        margin 50px 0 0 0
        > .dot
          display inline-block
          background-color gc(grey50)
          width 5px
          height 5px
          border-radius 5px
          margin 0 20px 5px 20px
  > .left
    float left
    height 800px
    width 50%
    > .map
      background url('/images/googlemap.jpg')
      background-size cover
      background-position 100%
      height 400px
      position relative
      > .anvil
        w = 216
        h = 118
        width unit(w/2, px)
        height unit(h/2, px)
        background url('/images/anvil.png')
        background-size contain

        position absolute
        top 50%
        left 50%
        margin-top -(unit(h/4, px))
        margin-left -(unit(w/4, px))
    > .gallery
      height 400px
      background-color pink

.about
  max-width 1400px
  margin auto
  > .left
    float left
    width 50%
    background url('/images/fermenters.jpg')
    background-size cover
    background-position 100%
    > .inner
      padding 100px 80px
      > .title
        gf(h1)
        color gc(white1)
        text-transform uppercase
      > .subtitle
        gf(h4)
        text-transform uppercase
        color gc(grey30)
        padding 50px 0
      > .copy
        color gc(white1)
        padding 0 0 20px 0

  > .right
    float right
    width 50%
    height 600px
    > .gallery
      margin 20px
      text-align center
      > .item
        display inline-block
        width 250px
        height 250px
        background-color gc(goldlight)
        margin 20px

.newsletter
  background-color gc(grey80)
  height 200px
  > .inner
    width 910px
    margin auto
    > .title
      float left
      background url('/images/eagle.png')
      background-size cover
      background-position 0 50%
      height 200px
      width 300px
      text-align center
      > .copy
        gf(h4)
        text-transform uppercase
        color gc(grey30)
        padding 90px 0 0 0
    > .form
      float left
      > .input
        float left
        margin 0 10px 0 20px
        > input
          text-align center
          background-color gc(black1)
          border none
          outline none
          padding 20px 
          width 320px
          margin 75px 0 0 0

      > .submit
        gf(h4)
        text-transform uppercase
        float left
        padding 25px 50px 15px 50px
        background-color gc(goldlight)
        margin 75px 0 0 10px

.footer
  padding 100px 0
  > .inner
    max-width 1200px
    margin auto
    > .left
      float left
      width 45%
      margin 0 5% 0 0
      > .inner
        > .title
          gf(h2)
          text-transform uppercase
          color gc(white1)

    > .right
      float right
      width 45%
      margin 0 0 0 5%
      > .inner
        > .copys
          > .copy
            color gc(white1)

        > .socials
          > .social
            display inline-block
            width 40px
            height 40px
            padding 30px
            margin 40px 30px 0 0px
            border 1px solid gc(goldlight)
            border-radius 50%
            transition background-color 0.1s linear
            &:hover > svg
              path, circle
                fill gc(white1)
            > svg
              path, circle
                fill gc(goldlight)

