.lochours
  > .section
    float left
    width 50%
    > .title
      gf(h5)
      text-transform uppercase
      color gc(grey30)
      padding 50px 0 20px 0
    > .copy
      color gc(white1)
      > .right
        float right

.socials
  > .social
    transition background-color 0.1s linear 0.2s
    &:hover
      background-color gc(black1)
      transition background-color 0.1s linear
    animation inFromRight 0.2s ease-in-out 0.4s both
    &:nth-child(2)
      animation-delay 0.5s
    &:nth-child(3)
      animation-delay 0.6s
    > svg
      width inherit
      height inherit
      path, circle
        fill gc(white1)

.cta
  gf(h5)
  text-transform uppercase
  cursor pointer
  background-color gc(goldlight)
  color gc(grey90)
  padding 30px 80px 25px 80px
  transition color 0.2s linear 0.2s
  &:hover
    color gc(white1)
    transition color 0.2s linear 0s

.top
  background url('/images/growler.jpg')
  background-size cover
  background-position center
  height calc(100vh - 86px)
  min-height 600px
  text-align center
  text-transform uppercase
  position relative

  > .logo
    width 200px
    height 120px
    background url('/images/logo.png')
    background-repeat no-repeat
    background-size contain

    animation inFromLeft 0.2s ease-in-out 0.5s both
    position absolute
    top 30px
    left 30px

  > .socials
    position absolute
    top 45px
    right 30px
    > .social
      margin 0 0 0 5px
      float left
      width 20px
      height 20px
      padding 5px
      border-radius 2px

  > .menu
    gf(h5)
    margin 50px 0 0 0
    color gc(grey15)
    > .inner
      > .item, > .itemdot
        display inline-block
      > .item
        cursor pointer
        padding 10px 10px 4px 10px
        animation inFromTop 0.2s linear both
        color gc(white1)
        transition background-color 0.1s linear 0.2s
        border-radius 2px
        &:hover
          background-color gc(black1)
          transition background-color 0.1s linear 0s
        for i in 1..7
          &:nth-child({i})
            animation-delay unit(0.05*i, 's')
      > .itemdot
        margin 0 10px 3px 10px
        padding 0
        width 5px
        height 5px
        background-color gc(white1)
        border-radius 50%

  > .centered
    position absolute
    height 225px
    width  890px
    top 50%
    left 50%
    margin-top -112px
    margin-left -445px
    > .soon
      gf(h5)
      color gc(grey15)
      margin 0 0 24px 0
    > .doors
      gf(h1)
      color gc(grey15)
      margin 0 0 60px 0

.infobar
  padding 30px 0
  text-align center
  > .label, > .copy, > .anvil, > .dot
    display inline-block

  > .label
    color gc(grey30)
    text-transform uppercase
    gf(h5)
    padding 0 10px 0 0
  > .copy
    color gc(grey15)
    transition color 0.1s linear
  > a.copy:hover
    color gc(goldlight)

  > .dot
    width 5px
    height 5px
    background-color gc(grey70)
    border-radius 50%
    margin 0 10px 4px 10px

  > .anvil
    background url('/images/hammer.png')
    background-size contain
    width 40px
    height 40px
    margin -10px 20px
    &.d
      display inline-block
    &.m
      display none

.slick-arrow:before
  font-size 40px

.slick-arrow
  width 40px
  height 40px
.slick-prev
  left: -45px
.slick-next
  right: -45px

.beers
  background url('/images/wood.jpg')
  background-size cover
  background-position 100%
  color gc(white1)
  > .title
    gf(h1)
    text-transform uppercase
    float left
    margin 140px 0 0 60px
    line-height 50px
  > .description
    padding 140px 100px 0 500px
  > .beerlist
    > .inner
        margin 0 60px
        padding 20px 0
        .beer
          margin 60px 10px
          > .inner
            background-color gc(grey90)
            padding 10px 10px 60px 10px
            text-align center
            > .beer_image
              > img
                width 100%
            > .beer_name
              gf(h4)
              padding 24px 0 0 0
            > .beer_info
              padding 10px 0 0 0
              color gc(grey50)
            > .beer_description
              padding 10px 0 0 0

.info
  text-align left
  margin auto
  background url('/images/berkeleymap.jpg')
  background-size cover
  background-position 100%
  height 800px
  > .right
    float right
    width 50%
    > .inner
      padding 200px 80px
      > .title
        gf(h1)
        color gc(white1)
        text-transform uppercase

      > .copy
        margin 50px 0 0 0
        color gc(white1)

       > .copy
        color gc(white1)
        margin 50px 0 0 0
        > .dot
          display inline-block
          background-color gc(grey50)
          width 5px
          height 5px
          border-radius 5px
          margin 0 20px 5px 20px
  > .left
    float left
    height 800px
    width 50%
    > .map
      background url('/images/googlemap.jpg')
      background-size cover
      background-position 100%
      height 400px
      position relative
      > .anvil
        w = 216
        h = 118
        width unit(w/2, px)
        height unit(h/2, px)
        background url('/images/anvil.png')
        background-size contain
        position absolute
        top 50%
        left 50%
        margin-top -(unit(h/4, px))
        margin-left -(unit(w/4, px))
    > .gallery
      height 400px
      background url('/images/taproom1.jpg')
      background-size cover
      background-position 100%

.about
  margin auto
  background url('/images/fermenters.jpg')
  background-size cover
  background-position 100%
  > .left
    float left
    width 50%
    > .inner
      padding 140px 80px 100px 80px
      > .title
        gf(h1)
        color gc(white1)
        text-transform uppercase
      > .subtitle
        gf(h5)
        text-transform uppercase
        color gc(grey30)
        padding 50px 0
      > .copy
        color gc(white1)
        padding 0 0 20px 0

  > .right
    float right
    width 50%
    height 710px
    > .gallery
      margin 40px 0 0 0
      text-align center
      > .item
        display inline-block
        width 300px
        height 300px
        background-color gc(goldlight)
        margin 5px
        for num in (1..4)
          &.item_{num}
            background url('/images/about' + num + '.jpg')
            background-size contain

.newsletter
  background-color gc(grey80)
  height 200px
  > .inner
    width 910px
    margin auto
    > .title
      float left
      background url('/images/eagle.png')
      background-size cover
      background-position 0 50%
      height 200px
      width 300px
      text-align center
      opacity 1
      > .copy
        gf(h5)
        text-transform uppercase
        color gc(grey30)
        padding 100px 0 0 0
    > .form
      float left
      > .input
        float left
        margin 0 10px 0 20px
        > input
          text-align center
          background-color gc(black1)
          border none
          outline none
          padding 18px 20px 22px 20px 
          width 320px
          margin 75px 0 0 0
          color gc(white1)

      > .cta
        float left
        padding 23px 50px 17px 50px
        background-color gc(goldlight)
        margin 75px 0 0 10px

.footer
  padding 100px 0
  > .inner
    max-width 1200px
    margin auto
    > .left
      float left
      width 45%
      margin 0 5% 0 0
      > .inner
        > .title
          gf(h2)
          text-transform uppercase
          color gc(white1)

    > .right
      float right
      width 45%
      margin 0 0 0 5%
      > .inner
        > .copys
          > .copy
            color gc(white1)

        > .socials
          > .social
            display inline-block
            width 40px
            height 40px
            padding 30px
            margin 40px 30px 0 0px
            border 1px solid gc(goldlight)
            border-radius 50%
            transition background-color 0.1s linear
            /*&:hover > svg
              path, circle
                fill gc(white1)
            */
            > svg
              path, circle
                fill gc(goldlight)

@media all and (min-width: 1px) and (max-width: 1000px)
  @import mobile-1k
