
.top
  background url('../image/growler.jpg')
  background-size cover
  height calc(100vh - 86px)
  text-align center
  text-transform uppercase

  > .menu
    gf(h4)
    margin 100px 0 0 0
    color gc(grey15)
    > .item, > .dot
      display inline-block
    > .item
      padding 0 10px
    > .dot
      content '&#8901'

  > .soon
    gf(h4)
    margin 45vh 0 0 0 
    color gc(grey15)

  > .doors
    gf(h1)
    margin 20px 0 0 0 
    color gc(grey15)

  > .cta
    gf(h5)
    margin 20px 0 0 0
    background-color gc(goldlight)
    color gc(grey90)
    display inline-block
    padding 30px 80px

.info
  padding 30px 0
  text-align center
  > .label, > .copy, > .anvil, > .dot
    display inline-block

  > .label
    color gc(grey30)
    text-transform uppercase
    gf(h5)
  > .copy
    color gc(grey15)

  > .anvil
    background url('../image/hammer.png')
    background-size contain
    width 40px
    height 40px
    margin -10px 20px
