.socials
  a.social.instagram(href=config.meta.social.instagram,target='_new')
    include ../../vector/instagram.svg
  a.social.facebook(href=config.meta.social.facebook,target='_new')
    include ../../vector/facebook.svg
  a.social.twitter(href=config.meta.social.twitter,target='_new')
    include ../../vector/twitter.svg
