extends extend/layout

block content

  .top
    .clear

    .logo

    .socials
      .social.instagram
        include ../resource/vector/instagram.svg
      .social.facebook
        include ../resource/vector/facebook.svg
      .social.twitter
        include ../resource/vector/twitter.svg
    
    .menu
      .item draft list
      .dot &#8901;
      .item events &amp; growlers
      .dot &#8901;
      .item taproom
      .dot &#8901;
      .item about

    .soon opening soon

    .doors doors open september 12

    a.cta(href='#') see our beers

  .info
    .label taproom
    .copy #{config.meta.address.street}, #{config.meta.address.city}, #{config.meta.address.state}, #{config.meta.address.zip}
    .anvil
    .label hours
    .copy Mon-Thu 11am-11pm
    .dot &#9865;
    .copy Fri-Sun 11am-1am
